* {
    box-sizing: border-box;
    outline: none;
}

html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow-x:hidden;
}

#container {
    background-color: white;
    display: table;
    text-align: center;
    padding: 48px 48px 48px 48px;
    margin: auto;
    font-family: 'BenchNine', sans-serif;
}
h1 {
    display: block;
    font-size: 56px;
    color: black;
    font-weight: 300;
    margin-top:6px;
    letter-spacing: 17px;
}

.height-input, .weight-input {
    border-left:0;
    border-right:0;
    border-top:0;
    font-family: 'Open Sans', sans-serif;
    border-bottom: 1px black solid;
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
}

.button {
    border: 1px solid black;
    background-color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}

.button:hover{
    background-color: black;
    color: white;
    transition: 0.4s;
}

#result{
    margin-top:60px;
    font-size: 20px;
}

#stats{
    margin-top:30px;
    font-size: 20px;
}

